{% extends "base.html" %}

{% block content %}
<!-- Todo 리스트를 보여주는 홈페이지 -->
<div class="container mt-5">
    <h1 class="mb-4">Todo List</h1>

    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'todo:create' %}">Create</a>
    {% endif %}

    <table class="table mt-3">
        <thead>
            <tr>
                <th>제목</th>
                <th>추천</th>
                <th>저자</th>
                <th>완료 여부</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>
                    <a href="{% url 'todo:detail' todo.id %}">{{ todo.title }}</a>
                    <span class="text-danger small mx-1">({{todo.comment.count}})</span>
                </td>
                <td>
                    {{ todo.likes.count }}
                </td>
                <td {% if user.is_authenticated and user == todo.author %}style="color: green;"{% endif %}>
                    {{ todo.author.username }}
                </td>
                <td>
                    {% if todo.completed %}
                    <span class="badge badge-success">완료</span>
                    {% else %}
                    <span class="badge badge-light">미완료</span>
                    {% endif %}
                </td>
                <td>
                    {{ todo.created_at | timesince }} 전
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
